* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: absolute;
    background-color: #3f3e3e;
    margin: 0px;
    width: 100%;
    height: 1300px;
}

header {
    position: fixed;
    display: block;
    background-color: #ff1616;
    width: 100%;
    height: 10%;
    z-index: 20;
}


.logodiv{
    height: 70%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.logodiv img{
    display: inline-block;
    height: 100%;
    float: left;
}


li {
    display: inline-block;
    list-style: none;
    height: 40px;
    background-color: darkred;
    border: 4px black solid;
    width: 15%;
    text-align: center;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-top: 7px;
}

li:hover {
    background-color: #ff1616 ;
    color: black;
}

.search{
    position: relative;
    background-color: darkred;
    width: 23%;
    float: right;
    color: white;
    height: 32px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-left: 45px;
    margin: 4px auto;
}

form{
    margin:2px auto;
}

.maintitle{
    position: relative;
    float: left;
    left: 2%;
    top: 36%;
    background-color: red;
    color: #221f20;
}

.menu {
    position: relative;
    list-style: none;
    background-color: black;
    height: 30%;
}

p{
    float: left;
    padding-right: 0px;
}

.searchbar {
    width: 75%;
    float: right;
 
}


nav {
    position: absolute;
    display: inline-block;
    float: left;
    height: 80%;
    width: 15%;
    background-image: url(../img/fondo.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 19;
    top: 10%;
    border-radius: 0px 0px 282px 0px ;

}

.tablenav {
    position: absolute;
    top: 37px;
    width: 100%;
    text-align: center;
}

table{
    width: 90%;
    margin: 2px auto;
}

p.titulotabla {
    position: relative;
    color: white;
    font-size: larger;
    margin: 0px 25%;
    background-color: #3f3e3e;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


td {
    height: 100px;
    border-bottom: 2px gray solid;


    
}


a {
    color: white;
}


main {
    position: relative;
    display: inline-block;
    float: right;
    background-color: #6c181a;
    width: 85%;
    height: 79%;
    top: 11%;
}

.contprincipal {
    position: relative;
    background-color: #6c181a;
    height: 100%;
    width: 100%;
}



.titulocv {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.tablacv {
    position: relative;
    color: white;
    height: 60%;
}

.tablacv td {
    height: 18%;
}

.cont1 {
    position: relative;
    background-color:#3f3e3e;
    width: 100%;
    height: 100%;

}

.imgfondo {
    position: relative;
    top: 10%;
    height: 30%;
    width: 80%;
    background-color: #373737;
    margin: 0px auto;
    border: 3px white solid;
}


.imgfondo img {
    position: relative;
    width: 100%;
    height: 100%;
}



.imgperfil {
    position: relative;
    top: 3%;
    height: 15%;
    width: 9%;
    margin-left: 20%;
    z-index: 5;
    border-radius: 200px;
    border: 3px white solid;


}

.imgperfil img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2000px;
}


.nomyape {
    position: relative;
    top: -5%;
    height: 30%;
    width: 80%;
    background-color: #000000;
    margin: 0px auto;
    border: 3px white solid;

}


.nomyape div {
    color: white;
    display: inline-block;
    position: relative;
    width: 20%;
    text-align: center;
    top: 44%;
    margin-left: 20%;

}



.textcont1 {
    position: relative;
    top: 0%;
    height: 500px;
    width: 80%;
    background-color: #000000;
    margin: 0px auto;
    border: 3px white solid;
    margin: 10%;
}

.titulo1 {
    position: relative;
    top: 0%;
    height: 30%;
    width: 100%;
    background-color: #000000;
    margin: 0px auto;
    border: 3px white solid;
}


.bttcv {
    top: -8%;
    position: relative;
    margin: 0px auto;
    width: 10%;
    height: 4%;
    
}

button {
    width: 100%;
    height: 100%;
}



footer{
    position: absolute;
    display: block;
    height: 10%;
    bottom: -180%;
    width: 100%;
    background-color: red;
    float:inline-end;
}

.redesociales{
    width: 15%;
    height: 65%;
    background-color: red;
    margin: 20px auto;
    text-align: center;
}

a img{
    width: 27%;
    height: auto;
}
.redesociales p{
    color: white;
}


