* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #3f3e3e;
    margin: 0px;
}

header {
    position: fixed;
    display: block;
    background-color: #ff1616;
    width: 100%;
    height: 130px;
    z-index: 20;
}


.logodiv{
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

img{
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


li {
    display: inline-block;
    list-style: none;
    height: 40px;
    background-color: darkred;
    border: 4px black solid;
    width: 15%;
    text-align: center;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-top: 7px;
}

li:hover {
    background-color: #ff1616 ;
    color: black;
}

.search{
    position: relative;
    background-color: darkred;
    width: 23%;
    float: right;
    color: white;
    height: 32px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-left: 45px;
    margin: 4px auto;
}

form{
    margin:2px auto;
}

.maintitle{
    position: absolute;
    left: 10%;
    top: 36%;
    display: inline-block;
    background-color: red;
    color: #221f20;
}

.menu {
    position: relative;
    list-style: none;
    background-color: black;
}

p{
    float: left;
    padding-right: 0px;
}

.searchbar {
    width: 75%;
    float: right;
 
}


nav {
    position: absolute;
    display: inline-block;
    float: left;
    height: 1000px;
    width: 15%;
    background-color: black;
    z-index: 19;

}

.tablenav {
    position: absolute;
    top: 180px;
    width: 100%;
    text-align: center;
}

table{
    width: 90%;
    margin: 2px auto;
}

p.titulotabla {
    position: relative;
    color: white;
    font-size: larger;
    margin-left: 20%;
    background-color: #3f3e3e;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


td {
    height: 100px;
    border-bottom: 2px gray solid;


    
}


a {
    color: white;
}


main {
    display: inline-block;
    float: right;
    background-color: #6c181a;
    width: 85%;
    height: 1000px;
    left: 20%;
}

.contprincipal {
    position: relative;
    background-color: #6c181a;
    height: 830px;
    width: 100%;
    top: 170px;
}

.cont1 {
    position: relative;
    background-color:#3f3e3e;
    width: 100%;
    height: 275px;
    box-shadow: 0px 0px 40px #3f3e3e;

}

.cont1 div {
    display: inline-block;
    position: relative;
    margin-left: 3%;
    top: 10%;
    height: 80%;
}

.cont1 .img1 {
    background-color: aqua;
    width: 30%;
}

.cont1 .text1 {
    background-color: red;
    width: 60%;
}


.cont2 {
    position: relative;
    background-color:#221f20;
    width: 100%;
    height: 275px;

}



.cont2 div {
    position: relative;
    display: inline-block;
    margin-left: 6%;
    top: 10%;
    height: 80%;
    width: 25%;
    background-color: blue;
}



.cont3 {
    position: relative;
    background-color:#6c181a;
    width: 100%;
    height: 275px;

}


.cont3 div {
    position: relative;
    display: inline-block;
    top: 10%;
    height: 80%;
    width: 25%;
    background-color: blueviolet;
    margin-left: 16%;
}






footer{
    position:static;
    display: block;
    height: 130px;
    bottom: 0px;
    width: 100%;
    background-color: red;
    float:inline-end;
}

.redesociales{
    width: 15%;
    height: 65%;
    background-color: red;
    margin: 20px auto;
    text-align: center;
}

a img{
    width: 33%;
    height: auto;
}
.redesociales p{
    color: white;
}


